/* Loader.css */
.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Full viewport height */
}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-left-color: #3498db;
    /* Change to your theme color */
    border-radius: 50%;
    width: 60px;
    /* Size of the loader */
    height: 60px;
    /* Size of the loader */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-container p {
    margin-top: 10px;
    font-size: 18px;
    color: #3498db;
    /* Change to your theme color */
}